body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.head {
  background: rgb(253, 240, 228);
  padding: 5px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}

.head i {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 40px;
}

.head label {
  margin-left: 5px;
  font-size: 13px;
}

.head i:hover {
  background-image: linear-gradient(to left, #ff3833, #ff6141, #ff884b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.1s;
}

/*-------------Navbar---------------*/
.navbar {
  background-color: #ff8110;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0;
  position: relative;
  z-index: 1000;
}

.navbar .width {
  width: 180px;
  height: 185px;
  margin-left: 30px;
}

.navbar .width img {
  width: 100%;
}

.navlink ul {
  padding-right: 16px;
  display: flex;
  align-items: left;
}

.navlink ul li {
  list-style: none;
  padding: 10px 0;
  padding-right: 45px;
}

.navlink ul li a {
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  position: relative;

}

.navlink ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navlink ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  margin: auto;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.navlink ul li a:hover::after {
  width: 100%;
}


/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown .d_content {
  width: 180px;
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .d_content {
  display: block;
  background-color: #ff8110;
}

.d_content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .d_content a {
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .d_content a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.dropdown:hover .d_content a::after {
  background-color: #ff6141;
}

.toggle {
  display: none;
  position: absolute;
  top: 25px;
  right: 0px;
  font-size: 30px;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
}

.hzmBtn { 
  background: none;
  border: none;
  text-align: left;
  margin: 0;
  width: 220px;
}
.btnHiz{
  display: none;
}


/*-------Responsive-----------*/
@media screen and (max-width: 768px) {
  .head {
    overflow-x: hidden;
    flex-direction: column;
    align-items: flex-start;
  }

  .head .container {
    max-width: 100%;
  }

  .head i {
    font-size: 14px;
    margin: 6px 5px;
  }

  .h2head,
  .h1head {
    text-align: left;
  }

  /*-------Navbar-------*/

  .navbar .width img {
    display: none;
  }

  .toggle {
    display: block;
    margin-right: 20px;
    color: rgb(255, 255, 255, 0.9);
  }

  .navlink .toggle {
    top: 15px;
    right: auto;
    left: 15px;
  }

  .navlink {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #ff8110;
    transform: translateX(100%);
    transition: transform 0.2s ease-out;
    z-index: 999;
    padding-top: 70px;
  }

  .navlink.show {
    transform: translateX(0);
  }

  .navlink ul {
    flex-direction: column;
    width: 100%;
    padding-left: 30px;
  }

  .navlink ul li {
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  }

  .navlink ul li a {
    font-size: 18px;
  }

  .navlink ul li a:hover::after {
    width: 0%;
  }

  .navlink ul li .d_content {
    padding-left: 20px;
  }

  .navlink ul li .d_content li {
    padding: 5px 0;
    font-size: 15px;
    list-style: none;
  }

  .btnHiz {
    display: block;
  }
  .hzmBtn i {
    margin-left: 30px;
  }

  .dropdown {
    display: none;
  }
}

/*----------Tablet-------------*/
@media screen and (min-width: 769px) and (max-width: 1280px) {

  .head .container {
    max-width: 85%;
  } 
  .navbar .width img {
    width: 110px;
    margin: 30px 0; 
    margin-right: 20px; 
  } 
  .navbar .width{
    margin: 0;
  }
  .navlink ul li a{ 
    padding-left: 3px;
    margin: 0;
    font-size: 15px;
  } 
   
.navlink ul { 
  display: flex; 

}

.navlink ul li {
  list-style: none;
  padding: 10px 0; 
  margin-right: 20px; 
}  
}