body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.head {
  background: rgb(253, 240, 228);
  padding: 5px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}

.head i {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 40px;
}

.head label {
  margin-left: 5px;
  font-size: 13px;
}

.head i:hover {
  background-image: linear-gradient(to left, #ff3833, #ff6141, #ff884b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.1s;
}

.navbar {
  background: linear-gradient(to left, #ff3833, #ff6141, #ff884b);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0;
}

.navlink ul {
  padding-right: 16px;
  display: flex;
  align-items: center;
}

.navlink ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 0;
  padding-right: 45px;
  position: static;
}

.navlink ul li a {
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.navlink ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navlink ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  margin: auto;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.navlink ul li a:hover::after {
  width: 100%;
}

.navbar .width {
  width: 180px;
  height: 185px;
  margin-left: 35px;
}

.navbar .width img {
  width: 100%;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.d_content {
  width: 200px;
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
  text-align: left;
}

.dropdown:hover .d_content {
  display: block;
  background-color: #ff6141;
}

.dropdown:hover .d_content a {
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .d_content a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.dropdown:hover .d_content a::after {
  background-color: #ff6141;
}

.d_content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.toggle {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #000;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .head {
    overflow-x: hidden;    
    flex-direction: column;
    align-items: flex-start;
  }
  .head .container {
    max-width: 100%;
  }
  .head i {
    font-size: 15px;
    margin: 5px 10px;
  }
  .navbar ul {
    padding-top: 30px;
  }
  .navbar .width img{
    display: none;
  }
  .h2head,
  .h1head{
text-align: left; 
 }


}