/* ------------------slider------------------- */
#app {
  height: 100%;
}

.swiperSlide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 40pc;
  object-fit: cover;
}

.sliderText {
  font-size: 30px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-130%, 0);
  color: #000;
  text-align: center;
}

.swiperSlide p {
  color: #000;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(-130%);
  }
}

.fadeIn {
  animation: fadeInAnimation 1s ease-in-out forwards;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}


/* ------------------about------------------- */
.about {
  margin-bottom: 100px;
}

.about img {
  display: block;
  width: 100%;
  height: 40pc;
  object-fit: cover;
}

.about .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .text img {
  width: 95%;
  height: 350px;
  border-radius: 5%;
}

.about .parag {
  margin: 30px 30px;
}

/* ------------------services------------------- */
.s_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.s_box .s_row {
  box-shadow: 0 2px 5px #ff884b;
  border-radius: 5%;
  flex-basis: calc(33% - 30px);
  background-color: rgb(254, 248, 242);
  margin: 40px 10px;
  padding: 20px 0;
}

.services .parag p {
  margin: 15px 25px;
}

.services .parag h1 {
  text-align: center;
}

.s_box img {
  width: 90%;
  height: 250px;
  object-fit: cover;
  margin: 20px;
  text-align: center;
}

.s_box .button {
  position: absolute;
  margin-left: 8pc;
  font-size: 15px;
  color: #fff;
  background-color: #ff6141;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

/* ------------------SService----------------- */
.service {
  margin-bottom: 100px;
}

.service p {
  margin: 20px 0;
}

.h1head {
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.85);
  text-align: justify;
}

.h2head {
  color: rgba(0, 0, 0, 0.8);
  font-size: 25px;
  margin: 20px 0;
}

/* ----------------Header2------------------- */
.nav .img {
  display: block;
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

.nav::before {
  content: "";
  position: absolute;
  top: 144px;
  right: 0;
  bottom: 0;
  height: 75vh;
  left: 0;
  background: rgba(0, 0, 0, 0.18);
  z-index: 1;
}

.nav h2 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 60px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 768px) {

  .swiperSlide img {
    height: 300px;
  }

  .sliderText {
    font-size: 19px;
    top: 20%;
    left: 60%
  }

  .about .text,
  .s_box {
    display: block;
  }

  .about .parag {
    margin: 10px 10px;
  }

  .about .img {
    width: 100%;
    margin: 10px 10px;
  }

  .s_box img {
    margin: 15px;
  }

  .location {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .s_box .button {
    position: absolute;
    justify-content: center;
    margin-left: 27%;
    font-size: 13px;
  }
  
  .nav::before {
    top: 141.5px;
    height:300px;
  }
  .nav .img {
    display: block;
    height: 300px;
    object-fit:cover;
  }
  .nav h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 55px; 
  }

}