@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.d_flex {
    display: flex;
    justify-content: right;
}

.c_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f_flex {
    display: flex;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0, 0.8);
}

.navbar {
    display: flex;
    padding: 1% 6%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 80%;
    margin: auto;
}

.header {
    margin: 65px 0;
    color: rgb(0, 0, 0, 0.9);
    font-size: 33px;
    text-align: center;
    margin-bottom: 45px;
    text-decoration: underline #ff6141;
    text-underline-offset: 8px;
}

.parag {
    color: rgb(0, 0, 0, 0.75);
    font-size: 17px;
    margin: 10px 0;
    flex: 1;
    text-align: justify;
}
h1{
    font-size: 22px;
    color: #ff6141;
}
@media screen and (max-width: 768px) {
    .container{   
      max-width: 90%;
      margin: auto;
    }
    .parag{
      font-size: 14px;
    }
    h1{
        font-size: 20px;
    }
    .header{
        font-size: 28px;
    }
  }
  