/* -------------------------Contact Us--------------------- */

.contact .container {
    display: flex;
}

.location {
    flex: 1;
    margin-right: 50px;
}

.inf {
    margin-top: 70px;
    margin-bottom: 120px;
}

.location iframe {
    width: 100%;
    height: 320px;
    border: 0;
    border-radius: 10px;
}

.contact .cont_inf {
    flex: 1;
    padding: 20px;
    text-align: left;
    height: 270px;
    box-shadow: 0px 0px 0px 3px #ff884b;
    border-radius: 5px;
    background-color: rgb(254, 248, 242);
}


.cont_inf .text {
    display: flex;
    justify-content: space-between;
}

.cont_inf i {
    display: block;
    margin: 15px;
    font-size: 25px;
    margin-right: 10px;
    text-align: center;
    color: #ff6141;
}

.bar b {
    text-align: left;
    padding: 15px;
}

.cont_inf p {
    display: flex;
    padding: 10px 15px;
}

.text {
    margin: 10px;
}

.text .par {
    margin: 13px 0;
    font-size: 16px;
}

.bar .tel {
    margin-top: 8px;
}

.par .tel {
    margin-top: 10px;
}

.par .post {
    margin-top: 32px;
}

.par .adr {
    margin-top: 35px;
}

/* -----------------Blog--------------------- */
.blog {
    margin: 15px 0;
    text-align: center;
    margin-bottom: 50px;
}

.blog h2 {
    padding-bottom: 25px;
}

.blogImg {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1    0px;
    transition: transform 0.4s ease;
    border: 2px solid #ff884b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}

.blogImg:hover {
    transform: scale(1.2);
}

.gallery {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 100%;
}

/* -----------------Randevu------------------ */
 
.randevu .foto {
    background-color: rgb(255, 255, 255, 0.4);
    display: flex;
    margin-left: 10%;
} 
.randevu img {
    width: 250px;
}

.bg-photo { 
    position: relative;
    background-image: url('./images/slider/t.jpeg');
    background-size: 700px;
    background-position: 200px 50px;
    background-repeat: no-repeat;
}

.randhead {
    text-align: left;
    padding: 70px 50px;
    max-width: 500px;
}

.randhead h2 {
    font-size: 40px;
    color: rgb(255, 0, 0, .8);
}

.randhead h1 {
    color: rgb(0, 0, 0, 0.9);
    margin: 40px 0;
    font-size: 23px;
}

.randhead p {
    color: rgb(0, 0, 0, );
    margin: 30px 0;
    font-size: 21px;
}

.randevu .time {
    color: rgb(255, 0, 0, .9);
    margin: 10px 0;
}

.rand {
    max-width: 600px;
    margin: 20px auto;
    margin-left: 40px;
    padding: 20px;
    border-radius: 10px;
}

.rand label {
    font-size: 19px;
    margin: 15px 0;
    display: block;
}

.row {
    display: flex;
    margin: 10px 0;
}

.row .col {
    flex: 1;
    margin-right: 15px;
}


input[type="text"],
input[type="email"],
textarea,
input[type="date"],
.button {
    font-size: 18px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s ease;

}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="date"]:focus {
    border-color: #ff884b;
    outline: none;

}

.button {
    background-color: #ff884b;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(255, 97, 65);
}

textarea {
    height: 150px;
}

/*--------------------Responsive Tasarım------------------- */
@media screen and (max-width: 768px) {


    .cont_inf i {
        margin: 15px 0;
        font-size: 20px;
        margin-right: 5px;
    } 
 
 
    .contact .container {
        display: block;
    }

    .contact .cont_inf {
        margin: 30px 0; 
        padding: 10px 20px;  
    }

    .text {
        margin: 0;
    }
    .cont_inf p {
        padding: 10px 0;
    }

    .text .par {
        margin: 10px 3px;
        font-size: 14px;
    }

    .par .adr {
        padding: 0px; 
        margin-left: 7px;
    }

    .par .tel {
        padding: 15px 9px;
        padding-bottom: 0px;
    }

    .par .post {
        padding: 20px 10px; 
    }

    /*---------------Randevu--------------- */

    .randevu .foto {
        display: block;
        background-color: rgb(255, 255, 255, 0.7);
    }

    .bg-photo {
        background-size: 350px;
        background-position: 50% 100px;
    }

    .randhead {
        text-align: center;
        padding: 20px 10%;
    }

    .randhead h2 {
        font-size: 26px;
    }

    .randhead h1 {
        margin: 20px 0;
        font-size: 20px;
    }

    .randhead p {
        margin: 20px 0;
        font-size: 19px;
    }

    .randevu .time {
        margin: 10px 0;
    }

    .rand {
        max-width: 600px;
        margin: 0;
        padding: 15px;
    }

    .rand label {
        font-size: 15px;
        margin: 10px 0;
        display: block;
    }

    .row {
        display: block;
        margin: 0px 0;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    input[type="date"],
    button {
        font-size: 15px;
        height: 40px;
        margin-bottom: 10px;
        padding: 5px;
        width: 100%;
    }
    .button{
        width: 97%;
    }
    textarea {
        height: 150px;
        width: 97%;

    }
    
/*---------------Blog--------------- */
.blog h2 {
    padding-bottom: 25px;
}
.blogImg { 
    margin-bottom: 20px; 
    border: 1.2px solid #ff884b; 
    border-radius: 10%;
}
.blogImg:hover {
    transform: scale(1.07);
    border-radius: 5%;
}
.gallery {
    display: block; 
}
}

/*------------------Tablet---------------------*/

@media screen and (min-width: 769px) and (max-width: 1280px) {
  
.randevu .foto { 
    display: block;
}
.randevu{
    left: 40%;
} 
.randevu img {
    width: 250px;
}

.bg-photo { 
    background-size: 700px;
    background-position: 180px 20px; 
}

input[type="text"],
input[type="email"],
textarea,
input[type="date"],
.button { 
    font-size: 19px; 
    height: 50px;    

}
.button { 
    font-size: 18px;  
    width: 97%;
} 
textarea {
    height: 170px;
    width: 97%;
}
.blog { 
    margin-bottom: 100px;
} 
.gallery {  
    gap: 50px;
} 
/*-------------------------*/

.contact .container {
    display: block;
} 
.location { 
    margin-right: 0px;
}

.inf {
    margin-top: 70px;
    margin-bottom: 120px;
}

.location iframe { 
    height: 200px; 
    border-radius: 5px; 
    padding-bottom: 40px;
}

.contact .cont_inf { 
    padding:10px 20px; 
    height: 260px;   
}
 
.cont_inf i { 
    margin: 12px;
    font-size: 30px;
    margin-right: 10px;  
}
 
.cont_inf p { 
    padding: 5px 10px;
}
.text {
    margin: 20px;
}
.text .par {
    margin: 13px 0; 
}
.par .adr {
    margin-top: 32px;
}


}